<div>
    <h1>¡Bienvenido a nuestro portal!</h1>
    <p>Nombre: {{user.first_name}}.</p>
    <p>Apellido: {{user.last_name}}.</p>
    <p>Email: {{user.email}}.</p>
    <p>Edad: {{user.age}}.</p>
    <p>Tu rol es: {{user.typeUser}}.</p>

    <a href="/api/sessions/logout"><button>Logout</button></a>
</div>